/*---About Us---*/

.content {
	background-color: white;
	height: '10%';
	width: '100%';
}

.header {
	color: white;
}

.item {
	margin-top: 2rem;
}

.logo {
	width: '6%';
}

/* ----- Carousel ---- */
.divcar {
	width: 100%;
	height: 70vh;
	margin-top: 1%;
}

/*-----Grid------------*/

.fullcgrid {
	width: 100%;
	margin-top: 3%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*break*/
}

.papergrid {
	display: flex;
	flex-direction: column;
	width: 15rem;
}
.contgrid {
	display: flex;
	position: center;
	align-items: center;
	align-content: center;
	margin-top: 2%;
	margin-left: 15%;
	min-height: auto;
	width: 70%;
	justify-content: center;
	flex-direction: row;
}
.crdgrid {
	height: 18rem;
}
.card {
	padding: 10;
	border-radius: 0.5rem;
	margin-left: 300px;
}
.gridimg {
	width: 100%;
	height: 200px;
	align-content: center;
}

/*-----KnowWhat------------*/

.fc {
	width: 100%;
	margin-top: 3%;
	margin-bottom: 10%;
	/*break*/
}

.paper {
	display: flex;
	flex-direction: column;
	width: 100%;
	object-fit: cover;
}
.cont {
	position: center;
	align-items: center;
	align-content: center;
	margin-top: 5%;
	margin-left: 15%;
	min-height: auto;
	width: 70%;
	justify-content: center;
}
.crd {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.card {
	padding: 10;
	border-radius: 0.5rem;
	object-fit: cover;
}
.gridcar {
	width: 100%;
	align-content: center;
	justify-content: center;
	object-fit: cover;
}

.title {
	color: #ddab32;
	margin-left: 12%;
}

/*----- Animation -------*/

.contain {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.App-logo {
	height: 400px;
	pointer-events: none;
	margin: auto;
	animation: fadeout 2s;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin 1s ease-in-out;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1440px) {
	.App-logo {
		height: 230px;
	}
}

@media screen and (max-width: 1024px) {
	.App-logo {
		height: 170px;
	}
}

@media screen and (max-width: 768px) {
	.App-logo {
		height: 150px;
	}
}

@media screen and (max-width: 425px) {
	.App-logo {
		height: 120px;
	}
	.Feed a img {
		width: 40%;
	}
}

@media screen and (max-width: 375px) {
	.App-logo {
		height: 110px;
	}
	.Feed a img {
		margin: 3% 3%;
		width: 60%;
		float: center;
		animation: fadein 3s;
	}
}

@media screen and (max-width: 320px) {
	.App-logo {
		height: 100px;
	}
	.Feed a img {
		margin: 3% 3%;
		width: 40%;
		float: center;
		animation: fadein 3s;
	}
}
/*---------- Instafeed ----------*/

.Feed {
	padding: 1% 1%;
	align-content: center;
}
.Instatext {
	color: #5277ff;
	cursor: pointer;
}

.Feed a img {
	margin: 3% 3%;
	width: 25rem;
	float: center;
	animation: fadein 3s;
}

.iglogo {
	width: 5%;
	cursor: pointer;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
